<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @passenger.name %></h1>
    <p>
      Ur flight has been booked <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>